.blog {
	.post {
		text-align: justify;
		margin-bottom: 15px;
		padding-left: 10px;
		width: 100%;
		@include box-sizing(border-box);
		@include sideborder($secondary-desing-color);
		@include bp(babybear) {
			width: 50%;
			float: left;
			padding-right: 10px;
			&:nth-child(2n+3) {
				clear: left;
			}
		}
		@include bp(mamabear) {
			width: 33.3%;
			&:nth-child(2n+3) {
				clear: none;
			}
			&:nth-child(4) {
				clear: left;
			}
		}
		.meta {
			clear: both;
		}
		.homepost-thumb {
			display: block;
			width: 100%;
			img {
				width: 100%;
				height: auto !important;
			}
		}
	}
	.navigation {
		clear: both;
		border-bottom: 1px solid #ccc;
		display: block;
		margin: 10px;
		padding: 10px;
		font-size: 1.8em;
	}
}

.single {	
	.post {
		border-bottom: 1px solid #888;
		overflow: hidden;
		@include bp(babybear) {
			max-width: 980px;
			margin: 0 auto;
		}
		h1 {
			padding-left: 10px;
			@include sideborder($secondary-desing-color);
		}
		p {
			text-align: justify;
			margin-bottom: 10px;
		}
		img {
			max-width: 100%;
		}

		.post-thumb {
			@include bp(babybear) {
				float: left;
				margin-right: 15px;
			}
			img {
				@include boxshadow;	
			}
			.caption {
				text-indent: -9999px;
			}	
		}
	}
}