
label, input, textarea {
	width: 100%;
	margin-bottom: 5px;
	font-size: 1.6em;
	line-height: 1.8;
	height: 1.8em;
	@include box-sizing(border-box);
}

textarea {
	height: 5.5em;
}
.submit {
	width: 100%;
}
.error-box {
	margin-bottom: 10px;
	li {
		font-size: 14px;
		color: #cc5555;
		font-style: italic;
		list-style: inside square;
	}
}
.submitted-message {
	margin-top: 15px;
	min-height: 180px;
}
