.page {
	@include bp(babybear) {
		.post {
			width: 65%;
			float: left;
			min-height: 300px;
			padding-right: 20px;
			text-align: justify;
			font-size: 1.4em;
			@include box-sizing(border-box);
			p {
				font-size: 1em;
				margin-bottom: 10px;
			}
		}
		#sidebar {
			width: 35%;
			float: left;
			@include box-sizing(border-box);
			.quick-contact {
				width: 100%;
				@include box-shadow(1px 2px 8px #888);
			}
		}
	}
}